<div class="sidebar-page-container">
  <div
    id="carouselExampleIndicators"
    class="carousel slide h-50"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="d-block w-100"
          src="../../../assets/images/resource/banner4.jpg"
          alt="Third slide"
          style="height: 500px"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="../../../assets/images/resource/banner5.jpg"
          alt="Second slide"
          style="height: 500px"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="auto-container mt-5">
    <div class="row clearfix">
      <!-- Sidebar Side -->
      <div class="sidebar-side left-sidebar col-lg-3 col-md-12 col-sm-12">
        <aside class="sidebar sticky-top">
          <!-- Tags Widget -->

          <!-- Categories Widget -->
          <div class="sidebar-widget categories-widget">
            <div class="widget-content">
              <div class="sidebar-title">
                <h6>Categorías</h6>
              </div>
              <div class="content">
                <ul *ngFor="let category of _categoryService.categoryData">
                  <li>
                    <a href="category.html"
                      ><span class="icon fa fa-hand-o-right"></span
                      >{{ category.categoryName }}</a
                    >
                  </li>
                </ul>
                <span class="all-category pointer"
                  >Ver todas las categorías.</span
                >
              </div>
            </div>
          </div>

          <!--  Support Widget -->
          <div class="sidebar-widget support-widget">
            <div class="widget-content">
              <h5>¿En que te podemos ayudar?</h5>
              <div class="text">
                Si tienes alguna duda o consulta. No dudes en ponerte en
                contacto con nosotros.
              </div>
              <a (click)="noavailable()" class="theme-btn btn-style-one"
                ><span class="txt" style="color: white">Soporte</span></a
              >
            </div>
          </div>
        </aside>
      </div>

      <!-- Content Side -->
      <div class="content-side right-sidebar col-lg-9 col-md-12 col-sm-12">
        <!-- Sec Title -->
        <div class="sec-title">
          <div class="clearfix">
            <div class="pull-left">
              <h4>Nuestros cursos</h4>
            </div>
          </div>
        </div>

        <!-- Featured Section -->
        <div class="featured-section">
          <div class="row clearfix">
            <!-- Feature Block Two -->
            <div
              *ngFor="let course of courses"
              class="feature-block-two col-lg-6 col-md-12 col-sm-12"
            >
              <div class="inner-box course-card">
                <div class="content">
                  <div class="image">
                    <a (click)="validarComprado(course._id)"
                      ><img
                        src="{{ url + 'course/image/' + course.imagePath }}"
                        alt=""
                        height="120px"
                    /></a>
                  </div>
                  <h6>
                    <a (click)="validarComprado(course._id)">{{
                      course.title
                    }}</a>
                  </h6>
                  <div
                    class="text module text-v-truncated"
                    style="font-size: 10px !important"
                  >
                    <span
                      class="text module"
                      [innerHTML]="course.courseDesc"
                    ></span>
                  </div>
                  <div class="author">
                    Hecho por:
                    <span
                      class="pointer"
                      [routerLink]="['/instructor/perfil', course.user._id]"
                      >{{ course.user.name + " " + course.user.surname }}</span
                    >
                  </div>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="rating">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                    </div>
                    <div class="pull-right">
                      <div class="price">
                        ₡ {{ course.coursePrice | number }}
                      </div>
                    </div>
                    <br />
                    <div class="text">
                      Creado el :
                      {{
                        course.createdAt | amLocale: "es" | amDateFormat: "LL"
                      }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Pagination -->
          <ul class="pagination mt-4">
            <li class="page-item">
              <a class="page-link" [routerLink]="['/inicio', prevPage]"
                >&laquo;</a
              >
            </li>
            <li class="page-item" *ngFor="let num of numberPages">
              <a class="page-link" [routerLink]="['/inicio', num]">{{ num }}</a>
            </li>
            <li class="page-item">
              <a class="page-link" [routerLink]="['/inicio', nextPage]"
                >&raquo;</a
              >
            </li>
          </ul>
          <!-- END Pagination -->
        </div>

        <!-- End Featured Section -->
        <!-- Courses Section -->
        <div class="courses-section">
          <!-- Sec Title -->
          <div class="sec-title">
            <div class="clearfix">
              <div class="pull-left">
                <h4>Ultimos Cursos</h4>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <!-- Course Block -->
            <div
              *ngFor="let course of courses | slice: 0:3"
              class="course-block col-lg-4 col-md-6 col-sm-12"
            >
              <div
                *ngIf="identity && course.user._id != identity._id"
                class="inner-box"
                style="min-height: 300px; max-height: 300px"
              >
                <div class="image">
                  <a (click)="validarComprado(course._id)"
                    ><img
                      src="{{ url + 'course/image/' + course.imagePath }}"
                      alt=""
                      style="height: 300px"
                  /></a>
                </div>
                <div class="lower-content">
                  <h6>
                    <a (click)="validarComprado(course._id)">{{
                      course.title
                    }}</a>
                  </h6>
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="author">
                        Hecho por:
                        <span
                          class="pointer"
                          [routerLink]="['/instructor/perfil', course.user._id]"
                          >{{
                            course.user.name + " " + course.user.surname
                          }}</span
                        >
                      </div>
                    </div>
                    <div class="pull-right">
                      <div class="price">{{ course.coursePrice }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Courses Section -->
        <!-- End Team Section -->
      </div>
    </div>
  </div>
</div>
